/* NAVBAR */
header {
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 0;
    box-shadow: 0 .1em .35em rgba(0,0,0,0.25);
}
nav a {
    color: var(--white);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.75em;
    transition: var(--transition);
}
nav a:hover {
    text-shadow: 0 0 .05em var(--white);
}

/* MAIN */
main {
    margin-top: 2rem;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CD CARD */
.cd-card {
    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    border-radius: .35em;
    text-align: center;
    width: 15rem;
    margin: .5rem;
}
.cd-card .cd-card-header {
    height: 200px;
    width: 100%;
}
.cd-card .cd-card-header .cd-pic {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
}
.cd-card .cd-card-body {
    background-color: var(--white);
    border-top: 1px solid var(--gray2);
    border-bottom: 1px solid var(--gray2);
    padding: 1rem 0;
}
.cd-card .cd-card-footer .btn{
    display: block;
}

/* CD Detail */
.cd-detail {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray2);
    border-radius: .35rem;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}
.cd-detail-header {
    height: 25rem;
}
.cd-pic {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.cd-detail-body, .cd-detail-footer {
    padding: 1.5rem 1rem;
}
.cd-detail-footer {
    background-color: var(--gray1);
}
.cd-detail-footer p strong {
    font-size: 1.2em;
    font-weight: 800;
}
.cd-detail .cd-detail-body > p {
    margin: 1rem 0;
}
.album {
    font-size: 2em;
    font-weight: 800;
}
.author {
    font-size: 1.2em;
    font-weight: 600;
}
/* Rating */
i.fas {
    color: var(--rating);
}
i.far:hover {
    color: var(--rating);
}
i:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    /* Cards */
    .cards {
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cd-card {
        margin: .5rem;
    }

    /* Detail */
    .cd-detail {
        flex-direction: row;
        margin: 0;
        max-width: 100%;
        justify-content: space-between;
    }
    .cd-detail-header {
        width: 25rem;
    }
    .cd-detail-body {
        flex: 1;
    }
    .cd-detail-footer {
        text-align: center;
        min-width: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}